.custom-posts-from-api-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .custom-posts-from-api-post {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
  }
  
